<h1>Position <%= @position.title %></h1>
<p>
<% @position_fields.each do |field| %>
  <%= field.title %>
  <%= field.description %>
  </br>
  </br>
<% end %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
